*{
    margin:0px;
padding:0px;
}

/* the main colors for the website */

.wrapper{
    
        box-sizing: border-box;
        
        background-color: var(--main-bg-color);
        font-size: large;
        background-repeat: no-repeat;
       
    
    background-color: var(--main-bg-color);
    
}


/* Links */
a,a:active {
    color: var(--small-text-color);
}

h1 {
    color: var(--main-text-color)
}

p {
    color: var(--small-text-color)
}

/* preloader */
#preloader{
  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.CreditNImg {

  display: flex;
  overflow: hidden;
  margin:auto;
  align-items: center;
  max-width: 40rem;
  align-content: space-between
}
.left,.right {

    padding: 2rem;

    flex-grow: 1;



}