*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.wrapper{
  background-color: var(--main-bg-color);
}

h1 {
  font-family: 'League Spartan';
}



/*The slideshow*/

.container{
width: 100%;

background: var(--element-color);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

}

.swiper{

  width: 67%;
  height: 55vh;
  
 

}
.swiper-slide img{

  width: auto; 

  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  


}

.swiper .swiper-button-next, .swiper .swiper-button-prev{

  color: var(--button-color);
  transition: transform .3s ease-in-out;
  transform: scale(1);

}

.swiper .swiper-button-next:hover, .swiper .swiper-button-prev:hover{

transform: scale(1.1);
}
.swiper .swiper-pagination-bullet-active{

  background: var(--main-text-color);

}

/* grid film*/



.grid-container{
  padding-top: 3vh;
  padding-left: 5vw; 
  padding-right: 5vw;
  padding-bottom: 5vh;
}
.film{


  display: grid;
  grid-template-columns: 25% 25% 25% 25%;


}

/*grid button style*/
.film button{background: none;border: none;}

.film-img{
  border: 0.1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0px 0.5rem 7px rgba(0, 0, 0, 0.379);

  width: 90%;
  height: 90%;

  transform: scale(1);

  transition: transform .3s ease-in-out;
}
.film-img:hover{
transform: scale(1.1);
}



.close:hover,
.close:focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

/* ----------- Modal overlay code ------------- */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  margin: 10% auto;
  padding: 10px;
}

.modal-window.small {
  width: 75%;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.3);
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: flex;
}


button.modalBtn { padding: 15px; font-size: 12px; background: indianred; color: #FFF; border: none;}
      .subheading { font-style: italic }
      

/*video element style*/
.video-js{
  left:0;
  top:25%;
  width: 50rem;}


/* Functions for if the screen is less than 992 px*/

@media screen and (max-width: 992px) {

  .swiper{
    width: 45rem;
    height: 30rem;
  }
  
  .film{


    display: grid;
    grid-template-columns: 33% 33% 33%;
  
  
   }
   .video-js {
    width:20rem;
    resize: horizontal;
  }

}

/* Functions for if the screen is less than 600 px*/

@media screen and (max-width: 600px) {

  .swiper{
    width: 30rem;
    height: 20rem;

  
  }
  
  
  /* Grid film */

  .grid-container{
    padding: 2rem;
  }

  .film{


    display: grid;
    grid-template-columns: 50% 50%;
  
  
   }
   .video-js {
    width:10rem;
    resize: horizontal;
  }


}