*{
    margin:0px;
padding:0px;


}

/* the main colors for the website */

:root{

    --main-bg-color:#251D3A;
    --element-color:#2A2550; 
    --main-text-color:#E04D01;
    --small-text-color:#FF7700;


}
@media (prefers-color-scheme: dark){

:root{

    --main-bg-color:#180A0A;
    --element-color:#711A75; 
    --main-text-color:#990054;
    --small-text-color:#693747;

}
}
.wrapper{
    
    background-color: var(--main-bg-color);
    
}
/* The top menu code */
.topbar {

    
    display: flex;
    flex-wrap: wrap;
    position: sticky;

    top: 0;
    justify-content: left;
    align-items: space-between;
    width: auto;
    overflow: hidden;
    background-color: var(--element-color);


    margin: auto;
    padding: 1rem;

}
.topbarTab{
    color: var(--main-text-color);
display: flex;
flex-direction: row ;
margin: auto;
padding: 10px;
justify-content: center;
align-items: center;
}

/* Links */
a,a:active {
    color: var(--small-text-color);
}

/* Slideshow style */
.slider {
    width: 18.75rem;
    height: 450px;
    background-color: var(--main-bg-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  /* This is the container for the slideshow, it needs to have enough width equal to all images width combined for it to function*/

  .image-container {
    width: 56.25rem;
    background-color: var(--small-text-color);
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0rem;
  }
  #slide-2:target ~ .image-container {
    left: -18.75rem;
  }
  #slide-3:target ~ .image-container {
    left: -37.5rem;
  }
  .buttons {
    position: relative;
    top: -1.4rem;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: var(--element-color);
  }
/*Sliders*/
.main-slider-box{
  width: 300px;
  height: 450px;
  box-shadow: 2px 2px 10px rgba(0,0,0,1);
  
}