/* preloader itself*/
#preloader {
  background: #161616;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.spinner-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
.spinnerWrap {
  display: flex;
  justify-content: center;
  transform: translateY(45vh);
}
.spinner-container > div {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/*  Spinner */
#spinner4 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}
#spinner4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #161616;
}
/* end of spinner */

/*  Intro CSS   */
.intro {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
