*{
    margin: 0px;
    padding:0px;
}

.wrapper{
    
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;

}

/* Links */
a,a:active {
    color: var(--small-text-color);
}

.wallPaper {
    background-color: #040467;

    border-top: 0.5rem solid var(--main-bg-color);

background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--main-bg-color) 15rem ), repeating-linear-gradient( var(--main-bg-color), var(--element-color) );
}

/* This code seperates text and image using flex box */
.CreditNImg {
    font-size: 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: auto;
  align-items: center;
  max-width: 80rem;
  align-content: space-between
  
}
.left,.right {

    padding: 2rem;

    flex-grow: 1;
    flex: 50%;


}

/*CSS alteration For specified text*/

.textContainer {
    
    font-size: 2rem;

    background-color: var(--element-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    padding: 4rem;


    padding-top: 7.5rem; 
    padding-bottom: 7.5rem;

}

@media screen and (max-width: 600px) {
    .CreditNImg {
    flex-direction: column;
    }
}