*{
    margin: 0px;
    padding:0px;
}

.wrapper{
    
    box-sizing: border-box;
    
    background-color: var(--main-bg-color);
    font-size: large;
    background-repeat: no-repeat;
   

background-color: var(--main-bg-color);

}

/* Links */
a,a:active {
    color: var(--small-text-color);
}

h1 {
    color: var(--main-text-color)
}

h2 {
    color: var(--main-text-color);
}


p {
    color: var(--small-text-color)
}

/* This code seperates text and image using flex box */
.CreditNImg {
    font-size: 2rem;
  display: flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  max-width: 80rem;
  align-content: space-between
}
.left,.right {

    padding: 2rem;

    flex-grow: 1;
    flex: 50%;


}
.textContainer {
    
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    padding: 4rem;


    padding-top: 7.5rem; 
    padding-bottom: 7.5rem;

}

