@import "../fonts/league-spartan-master/webfonts/stylesheet.css";

/* the main colors for the website */

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

:root{
  --primary-color: #7abcea;
  --secondary-color: #a6d2fe;
  --text-color:#00171f;
  --small-text-color: #00171f;
  --top-bot-color: #1b6ba3;
  --button-color: white;
  
  }
  
  @media (prefers-color-scheme: dark){
  
  :root{

    --primary-color: #013454;
    --secondary-color: #1e4a78;
    --text-color:#8cceea;
    --small-text-color: #74d1ef;
    --top-bot-color: #1b6ba3;
    --button-color: white;
  
  }
  
h1 {
  font-family: 'mighaexpanded';
}

  }

  h1,h2,h3 {
    color: var(--text-color);

  }
  
  a.title{
    font-family: 'League Spartan';
    font-size:2rem;
    color: var(--text-color);
  }
  a.top-logo:hover::before, a.mobile-Menu:hover::before{
    transform-origin: left;
    transform: scaleX(0);
  }

  p {
    color: var(--small-text-color);
  }

  
  