/* the main colors for the website */

:root{

  --main-bg-color: rgb(40, 0, 126);
  --element-color: rgb(25, 115, 157); 
  --main-text-color:#9dc3ff; ;
  --small-text-color: #ffffff; 
  
  }
  
  @media (prefers-color-scheme: dark){
  
  :root{

    --main-bg-color: rgb(24, 11, 72);
    --element-color: rgb(50, 34, 110); 
    --main-text-color:#72c9db; ;
    --small-text-color: #97b8eb; 
  
  }
  }

  h1,h2,h3 {
    color: var(--main-text-color);

  }
  
  h1{
    font-family: 'mighaexpanded';

  }

  p {
    color: var(--small-text-color);
  }

  @font-face {
    font-family: 'mighaexpanded';
    src: url('../fonts/mighaexpanded-yzgjy-webfont.woff2') format('woff2'),
         url('../fonts/mighaexpanded-yzgjy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: large;

}