/* the main colors for the website */

:root{

    --main-bg-color:#251D3A;
    --element-color:#2A2550; 
    --main-text-color:#E04D01;
    --small-text-color:#FF7700;
  
  }
  
  @media (prefers-color-scheme: dark){
  
  :root{
  
    --main-bg-color:#251D3A;
    --element-color:#2A2550; 
    --main-text-color:#E04D01;
    --small-text-color:#FF7700;
  
  }
  }

  @font-face {
    font-family: 'mighaexpanded';
    src: url('../fonts/mighaexpanded-yzgjy-webfont.woff2') format('woff2'),
         url('../fonts/mighaexpanded-yzgjy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}