
.slick-slider{
    width: 50vw;
    height: 20rem;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.slick-dots{
    
}

button{display: none;}

